parameters:
	ignoreErrors:
		-
			message: "#^Method MarcelStrahl\\\\TemporaryValidator\\\\Rule\\\\IsNotAnTemporaryEmailAddress\\:\\:message\\(\\) should return string but returns array\\|Illuminate\\\\Contracts\\\\Translation\\\\Translator\\|string\\|null\\.$#"
			count: 1
			path: src/Rule/IsNotAnTemporaryEmailAddress.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\App\\:\\:make\\(\\)\\.$#"
			count: 1
			path: src/ServiceProvider.php

