parameters:
  level: max
  reportUnmatchedIgnoredErrors: true
  fileExtensions:
    - php
  paths:
    - src
    - translations
  inferPrivatePropertyTypeFromConstructor: true
includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-webmozart-assert/extension.neon
